.main-title{
	font-family:Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	font-size:50px;
}

h2{
	font-family:Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	color:black;
	font-size:30px;
}

.input-class{
	font-family:Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	color:black;
	font-size:20px;
}

.submit-class{
	font-family:Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	color:black;
	background-color:transparent;
	font-size:25px;
}

h3{
	font-family:Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	color:black;
	font-size:25px;
}

.viewBtn{
	margin-left: auto;
	margin-right: 0;
	font-size: 20px;
	font-weight: bolder;
	border: 3px solid black;
	background-color: transparent;
}

.name{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 35px;
	
}

.infoTxt{
	font-size: 25px;
}

.patientDiv{
	border: 3px solid black;
	padding: 2%;
	margin-bottom: 3%;
}

a{
	text-decoration: none;
	color: black;
}

.dataDiv{
	border: 3px solid black;
	padding-right: 1%;
}

.icon-class{
	margin-bottom: 50px;
}

#heartDiv{
	width: 925px;
	padding-top: 50px;
}

#tempDiv{
	margin-left: 25px;
	width:925px;
	
	padding-top: 50px;
}

.center-class{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}